@model MVC_Demo.Models.OrderInvoice

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Order Invoice</h1>


<div>
    <br />
    <h4>Are you sure you want to permanently delete this customer's order invoice?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <u>Customer ID Number <!--@Html.DisplayNameFor(model => model.Customer.Id)--></u>
        </dt>
        <dt class="col-sm-2">
            <u>Customer Name <!--@Html.DisplayNameFor(model => model.Customer.Id)--></u>
        </dt>
        
    </dl>

      <dl class="row">
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class = "btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
