@model MVC_Demo.Models.OrderInventory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Order Inventory</h1>
<br />


<div>
    <h4>Are you sure you want to permanently delete this order from the database?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Number <!--@Html.DisplayNameFor(model => model.Order)-->
        </dt>        
        <dt class="col-sm-2">
            Product Number <!--@Html.DisplayNameFor(model => model.Product)-->
        </dt>
        <dt class="col-sm-2">
            Quantity Ordered <!--@Html.DisplayNameFor(model => model.Quantity)-->
        </dt>
    </dl>

    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
      </dl>
        <hr/>
        
        
    <br />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm Delete" class="btn btn-danger" /> |
        <a class = "btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
