@model MVC_Demo.Models.InventoryProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Product</h1>
<br />


<h4>Use the form below to create a new Product for Inventory.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Product Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Qoh" class="control-label">Quantity in Inventory</label>
                <input asp-for="Qoh" class="form-control" />
                <span asp-validation-for="Qoh" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save New Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
