html {
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:italic;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:antiquewhite;
}

.nav-item:hover
{
    background-color:aqua;
    font-weight:bold;

}

.hline
{
    color:black;

}