@model MVC_Demo.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details</h1>

<div>
    <br />
    <h4>View Customer Details Below</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Firstname)-->
            First Name
        </dt>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Lastname)-->
            Last Name
        </dt>
       
     </dl>

    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
